/*Structure*/
body {
    font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
    background: url(images/techeybg.png);
    background-size: cover;
}
#assignments {
    background-color:rgb(195, 134, 223, .5);
    width: 75%;
    padding: 10px;
    margin: auto;
    border-radius: 10xpx;
    border: 5px, dotted, rgb(124, 43, 160)
}

#projects {
    background-color:rgb(195, 134, 223, .5);
    width: 75%;
    padding: 10px;
    margin: auto;
    border-radius: 10xpx;
    border: 5px, dotted, rgb(124, 43, 160)
}
header, main {
    background-color: rgb(195, 134, 223, .8);
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}
footer {
    background-color: rgb(104, 35, 135, .25);
}


/*Typography all purple because its my favorite ! <3 */
h1 {
    color:rgb(66, 3, 95);
}
h2, p  {
    color: rgb(104, 33, 137);
}
footer {
    color: rgb(226, 196, 239);
}
ol {
    color: rgb(226, 196, 239);
    text-align: center;
}
a {
    color: rgb(226, 196, 239);
    text-decoration: none;
}
a:hover {
    color:rgb(66, 3, 95);
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}


/*Navigation*/
#alist {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
   
}
#plist {
      list-style-type: none;
    padding: 5px;
    text-decoration: none;

}

/* Responsive Design*/
@media (min-width: 1000px){
    
    .columns {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
.columns li {
    background-color: rgb(163, 68, 205);
    padding: 10px;
    border-radius: 5px;
    min-width: 0;
}

   .one {
    flex:1;
    min-width: 250px;
   }

   .two {
    flex:2;
    min-width: 250px;
   }

   .three {
    flex:3;
   }

   .four {
    flex:4;
   }

   .five {
    flex:5;
   }

   .six{
    flex:6;
   }
 
}

