
h1 {
    color: #9f3e48;
     font-family: Georgia, Helvetica, sans-serif;
    text-align: left;

}
h2 {
    color: #d0646f;
     font-family: Georgia, Helvetica, sans-serif;
    text-align: left;
    
}

p {
    color: #f58590;
     font-family: Georgia, Helvetica, sans-serif;
    text-align: left;
}
