/* structure*/
body {
    font-family:'Times New Roman', Times, serif;
    background: url(https://s3-external-1.amazonaws.com/youvisit-img/Assets/img/locations/80142/1280_profile.jpg?v=1785160131);

}
#message {
    background-color: white;
    color:black;
    margin: auto;
    text-align: center;
    margin-top: auto;
    font-size: x-large;
}

/*pagetop*/
#page-top
{
    background-color: black;
}
#floyd {
    color:white;
    background-color: black;
    position:absolute;
    right: 2em;
    top: 2em;
}
#middle-nav {
    position: relative;
}
#erca {
   background-color: rgb(117, 0, 10);
    position:absolute;
    left: 5px;
    top: 10px;
}
/*Navigation*/
#main-nav li {
    text-transform: capitalize;
    display: inline-block;
    
}
#main-nav a {
    color:white;
    font-size: small;
    text-decoration: none;
}
#main-nav li:not( :last-child) :not(:first-child) ::after {
    content: "|";
    color: white;
     
}
 #main-nav ul{
    list-style-type: none;
    padding-left:0;
}
#middle-nav li {
    background-color: rgb(117, 0, 10);
    padding: 5px;
   
}
#middle-nav ul {
     list-style-type: none;
     padding-right:0;
}
#middle-nav a {
    color: white;
    text-decoration: none;
}
#main-nav a, #middle-nav a{
    color: white;
    text-decoration: none;
}
/*Education*/
#education {
    position:relative;
}
#edu-info {
    background-color: rgb(117, 0, 10);
    position: absolute;
    top:100em;
    right:2em;
}
#edu-info h2, #edu-info p{
    color:white;
    text-align:left;
}
#edu-info a{
    position: relative;
    left: 2px;
    bottom: 2px;
    color:white;
    background-color: black;
    border-width: 2px;
    border-style:solid;
    border-color: white;
    text-decoration: none;
    text-align: left;
    
}

/*Sarah-Quote*/

#sarah-quote {
    background-color: white;
   padding: 5px;
}
#img-sarah {
    border-radius: 500px;
}
#quote {
    color: rgb(117, 0, 10);
    font-size:xx-large;

}
#sarah-name {
    color: black;

}
/*Research*/
#research {
    position:relative;
}
#research-info {
    background-color: rgb(117, 0, 10);
    position: absolute;
    top:30em;
    left:2em;
}
#research-info h2, #research-info p{
    color:white;
    text-align:left;
}
#research-info a{
    position: relative;
    left: 2px;
    bottom: 2px;
    color:white;
    background-color: black;
    border-width: 2px;
    border-style:solid;
    border-color: white;
    text-decoration: none;
    text-align: left;
    
}
/* helpful-links*/
#helpful-links {
    background-color: white;
    padding-top: 25px;
    margin:auto;
    padding-left:30px;
}
#helpful-links h4{
    text-align: center;
    color:rgb(117, 0, 10);
    font-size: large;
    text-transform: bold;

}
/*centers*/
#centers {
    position:relative;
}
#centers-info {
    background-color: rgb(117, 0, 10);
    position: absolute;
    top:50em;
    left:2em;
}
#centers-info h2, #centers-info p{
    color:white;
    text-align:left;
}
#centers-info a{
    position: relative;
    left: 2px;
    bottom: 2px;
    color:white;
    background-color: black;
    border-width: 2px;
    border-style:solid;
    border-color: white;
    text-decoration: none;
    text-align: left;
    
}
/*hero*/

#hero {
    position:relative;
}


.hero-arrow {
    position: absolute;
    top: 45%;
    font-size: 8em;
    color: whitesmoke;
    text-decoration: none;
}
#hero-arrow-right{

    right: 2%;
    top:22%;
}

#hero-arrow-left {
    left:2%;
    top:22%;

}
/* Stay Connected*/
#med, #alumni, #resource {
    background-color:rgb(117, 0, 10);
    border: 5px;
    border-color: white;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px rgb(125, 124, 124);
    padding:25px;
    column-gap: 15px;
}
#stay-connected :not( :last-child) :not(:first-child) ::after{
    content: "|";
    color: rgb(117, 0, 10);
   
}
#connect-links {
    list-style: none;
    text-transform: capitalize;
    text-align: center;
    
}
#connect-links a {
    text-decoration: none;
    color: white;
   
    font-weight:bolder;
}
#stay-connected {
    background-color: white;
}
#stay-connected h1 {
    color: rgb(117, 0, 10);
    text-align: center;
}
#stay-connected p{
    text-align: center;
}

#connect-social {
    list-style-type: none;
    width:fit-content;
    margin:auto;
}

#connect-social li {
    display:inline-block;
    padding:10px;
    font-size:24px;
}

#connect-social a {
    list-style-type: none; 
    color: rgb(209, 141, 146);
    text-decoration: none;
    
}
#connect-social a:hover{
    color: rgb(117, 0, 10);
}
#stay-connected :not( :last-child) :not(:first-child) ::after {
    content: "|";
    color: white
}
#my-school {
    background-color: black;
    border-width: 5px;
    border-color: white;
    box-shadow: 2px 2px 2px 2px rgb(125, 124, 124);
    color:white;
}
#quick-links a {
    color: rgb(117, 0, 10);
    text-decoration: none;
    text-transform: capitalize;

}
#quick-links ul {
    column-width: 200px;
    column-gap: 10px; 
    padding-left: 0;
    list-style-type: none;
}


/*Footer links */

#footer-links header {
    padding-top:10px;
    position:relative;
}

#footer-logo {
    border-radius:20px;
}

#footer-social {
    list-style-type: none;
    width:fit-content;
    margin:auto;
}

#footer-social li {
    display:inline-block;
    padding:10px;
    font-size:24px;
}

#footer-social a {
    list-style-type: none; 
}

#footer-links-title {
    width:fit-content;
    margin:auto;
    align-items: flex-end;
    padding: 20px 10px;
}

#footer-links-title h1, #footer-links h2 {
    margin:0;
    padding-left:10px;
}

#footer-links-title h2 {
    color: var(--highlight-bg);
}

#footer-links {
    background: rgb(117, 0, 10);
    color:white;

}

#footer-links h1, #footer-links h2, #footer-links h3 {
    color: white;
}

#footer-links a {
    color:white;
}

#footer-links h3 {
    text-transform: uppercase;
    color: white;
}

#footer-links .columns section {
    padding: 2px 2px;
}

#footer-links section ul {
  column-width: 200px;
  column-gap: 10px; 
  padding-left: 0;
  list-style-type: none;
}

#footer-links a {
    text-decoration: none;
}

/*Footer Copy */
#footer-copy {
    background: black;
    
}
#footer-copy li{
    list-style: none;
}
#footer-copy a {
    color: white;
    text-decoration: none;
    font-size: medium;
}
#footer-copy li:not( :last-child) :not(:first-child) ::after {
    content: "|";
    color: rgb(117, 0, 10);
}
     
 img {
  max-width: 100%;
  height: auto;
}

/* columns for all devices */
.columns-mobile {
    display:flex;
}

@media (min-width: 1000px) {
    /* Structure */
    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

   /* Navigation */
    #main-nav li {
        flex:1;
        border:0;
    }
     /* Footer */
    #footer-links-title {
        margin:0;
    }

    #footer-social {
        position:absolute;
        top:5px;
        right:5px;
    }

    /* Columns */
    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}