/*structure*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(168, 184, 165);
}
#content {
    width:80%;
    margin: auto;
    margin: auto;
}
header {
    background-color: rgb(240, 204, 210);
}
#sidebar {
    background-color: rgb(240, 204, 210);
    padding: 10px;
}
#title1, #title2,#title3, #title4 {
    background-color: rgb(62, 142, 50);
    padding: 10px;
}
/*navigation*/
#main-nav li {
    background-color: rgb(28, 68, 22);
    padding: 5px;
}
#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left:0;
}
#side-links {
    background-color:rgb(255, 151, 168);
}

#idea1, #idea2
{
    background-color: rgb(240, 204, 210);
}
#title1 img, #title2 img, #title3 img {
    max-width: 100%;
    height: auto;
    display: block;
}
footer {
    background-color: rgb(240, 204, 210);
    width: 100%;
}
/*typography*/

header {
    text-align: center;
}
h1 {
    color: rgb(28, 68, 22);
}
h2 {
    text-align: center;
   color: rgb(28, 68, 22);
}
#main-nav a {
    color: rgb(240, 204, 210);
    text-decoration: none;
    list-style-type: none;
}
#sb {
    color: rgb(255, 151, 168);
}
#side-links {
    list-style-type: none;
    color: rgb(240,204,210);
    text-align:left;
}
p {
    color: rgb(255, 151, 168);
}
#id1, #id2 {
   color:  rgb(255, 151, 168);;
}
footer {
    color: rgb(255, 151, 168)
}

/*responsive Design */
@media (min-width: 1000px) { 
   .columns {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
   }
   #main-nav li {
    flex:1;
   }

   .one {
    flex:1;
   }

   .two {
    flex:2;
   }

   .three {
    flex:3;
   }

   .four {
    flex:4;
   }

   .five {
    flex:5;
   }

   .six{
    flex:6;
   }
}